@tailwind base;
@tailwind components;
@tailwind utilities;



.container{

     display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
  padding: 20px;
margin-top: 60px;
width: 500px;
height: 300px;
background-color:aquamarine;
}
.list-btn{
    margin: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.btn{
    background-color: greenyellow;
    margin-left: 10px; 
    padding: 3px
}

.f-container{

      display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
  padding: 20px;
margin-top: 60px;
width: 500px;
height: 500px;
background-color:aquamarine;

}
.rbtn{
     background-color: red;
    margin-left: 10px; 
    padding: 3px;


}